:root{
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 15px;
  font-family: Outfit;
  color: var(--slate500);
  line-height: 1.2;
  background-color: var(--slate300);
}